/* .SelectNode {
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 70px 140px 70px;
  border-color: transparent transparent #1FAB89 transparent;
  float: left;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
} */

.SelectNode {
  height: 60px;
  padding: 10px;
  border: 2px solid #5eac24;
  border-radius: 10px;
  background: #f0f8f1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, border-color 0.3s;
}

.SelectNode:hover {
  background: #5eac24;
  border-color: #5eac24;
  color: #fff;
}

.SelectNode:hover label{
  color: #fff;
}

.option{
  color: black;
}

.SelectNode label {
  display: block;
  color: #5eac24;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

#search_input {
  border: 2px solid #5eac24;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

#search_input:focus {
  border-color: #ff6b6b;
  box-shadow: 0 2px 6px rgba(255, 107, 107, 0.4);
  outline: none;
}
#search_input:hover {
  border-color: #ffaa00;
}

.search-wrapper{
  border: 0;
}