.App {
  text-align: center;
  width: 100px;
  height: 100px;
}

.Shapes {
  margin: 10px;
  position: absolute;
  left: 50%;
  width: 500px;
  height: 22%;
  border: 3px solid #E9B824;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px #EE9322;
  /* background-image: url("https://media.istockphoto.com/id/1031593670/photo/brown-wooden-plank-desk-table-background-texture-top-view.webp?b=1&s=170667a&w=0&k=20&c=Ugg8joFwzfEojKiFlrHNqaE2qutangQJ5wuVU-16fhI="); */
}

img{
  margin: 5px;
  display: inline-block;
}

.Canvas {
  position: absolute;
  width: 300px;
  height: 100%;
  border: 3px solid #CCC8AA;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://media.istockphoto.com/id/1438199406/photo/natural-linen-material-textile-canvas-texture-background.webp?b=1&s=170667a&w=0&k=20&c=LFuKOC1sUKLhqcoBGbsV2TCHnocIrl2YzGxwpRNz76o=");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
