#outputWindow {
    width: 250px;
    height: 100%;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
font-family: "Times New Roman", Times, serif;
color: #B931FC;
  }