/* Styles for the sidebar */
.sidebar {
  width: 300px;
  height: 280px;
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 0.3s ease;
  transform: translateY(-280px);
  background: #252525; /* Set a background color for the sidebar */
  color: #fff; /* Set text color for the sidebar */
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3); /* Add a shadow on the left side */
  border-radius: 15px;
  cursor: pointer;
}

.sidebar:hover {
  transform: translateY(-240px);
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(10px) }
  50% { transform: translateX(-300px) }
  75% { transform: translateX(1px) }
  100% { transform: translateX(0) }
 }

 @keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

span.toolbox-icon{ 
  display: inline-block;
  font-size: 30px;
  animation: tilt-shaking 0.8s infinite;}

.sidebar.open {
  transform: translateY(0);
}

span.hand-icon{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  font-size: 20px;
  animation: horizontal-shaking 1.8s infinite;
  transition: visibility 0s, opacity 0.2s linear;
}

span.hand-icon.isHovered{
  visibility: visible;
  opacity: 1;
}